*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-family: Playfair Display, serif;
  line-height: 1.7;
}
body, h1 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 1;
}
.em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: crimson;
  transition: color 0.5s;
}
a:hover {
  color: black;
}

/*header {
display: flex;
justify-content: space-between;
align-items: center;
}*/
header a {
  display: block;
  padding: 24px;
  color: inherit;
  font-family: Montserrat, sans-serif;
}
header a:hover {
  color: crimson;
}

nav ul {
  list-style: none;
  /*display: flex;*/
}
.wrapper {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
}

main {
  background: linear-gradient(#f5edea, #f1e4d1);

}
section {
  padding: 24px 0;
}
footer {
  text-align: center;
  background: #333;
  padding: 24px;
  color: white;
}
color-red{
  color:red;
}

@media only screen and (max-width:767px){
  nav{
    background:black;
    color:white;
    display:none;
  }

  .nav-visible{
    display:block;
  }
  .menu-toggle{
    position:absolute;
    top:0;
    right:0;
  }
}

/*s'applique aux grands ecrans */
@media only screen and (min-width:768px){
  nav ul{
    display:flex;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-toggle{
    display:none;
  }

}



/*
.invisible{
display:none;
}
*/
